[project]
name = "eesunhong"
version = "0.1.0"
requires-python = ">=3.7"

[project.scripts]
eesunhong_main = "eesunhong.main:main"

[build-system]
requires = ["scikit-build-core", "fypp"]
build-backend = "scikit_build_core.build"

[tool.cibuildwheel]
skip = "pp* cp36-* cp37-*"
build-verbosity = "3"
test-requires = ["pytest==7.2.1", "numpy"]
test-command = "pytest {package}/tests -m \"not slow\""

[tool.cibuildwheel.windows]
archs = ["auto64"]

[tool.scikit-build]
build-dir = "build"

[tool.pytest.ini_options]
markers = [
    "slow: Marks tests as slow."
]
